body
{
  line-height:150%;
  font-family:Arial, Verdana, Helvetica, sans-serif;
}
div,p{  font-size:10pt}

h1,h2,h3	{ font-weight:bold; }
h1		{ font-size:24px; border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:20px; }
h2		{ font-size:16px;  padding:0 0 2px 0; margin:0 0 5px 0; }
h3		{ font-size:13px; margin:0 0 2px 0; }

.htmlvoucher h2{ font-weight:normal; font-size:12pt !important;}

h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
     page-break-inside:avoid }
img { page-break-inside:avoid; 
     page-break-after:avoid; }
blockquote, table, pre { page-break-inside:avoid }
ul, ol, dl  { page-break-before:avoid }

a		{ text-decoration:underline; }
a:link:after, a:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

.page-break	{ display: block; page-break-before: always; }

#sfs-print-wrapper .billing-information div, #sfs-print-wrapper .sales-contact div, .smallpaddingbottom{ padding-bottom:7px;}
.hugepaddingleft{ padding-left:15px;}
.hugepaddingtop{ padding-top:20px;}

.largepaddingtop{ padding-top:15px;}

#sfs-print-wrapper .sales-contact{ padding-top:25px;}

div.estimated-charges{ padding-top:20px; padding-bottom:20px;}

.print-rooms{ padding-top:20px; padding-bottom:10px;}

#print-logo { display: block; padding-bottom:30px;}

.printblockbg{
	padding:10px;
}


/*NONE DISPLAY*/
.heading-buttons{ display:none;}

.voucher-img{ width:723px; height:657px;}
