/* reset.css */
html {
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: hidden;
}

body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	line-height: 1.5;
	background: white;
}

table,th,td {
	vertical-align: middle;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
}

blockquote,q {
	quotes: "" "";
}

a img {
	border: none;
}

:focus {
	outline: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 13px;
	background: #FFFFFF;
}

body#bd {
    min-width:995px;
	/*background: url(../images/bg.jpg) repeat-x;*/
	/*color: #000;*/
}

a:link,a:visited {
	color: #01b2c3;
	text-decoration: none;
}

a:hover,a:active,a:focus {
	color: #01b2c3;
	text-decoration: none;
}

hr {
	font-size: 1px;
}

.item-page {
	padding-bottom: 20px;
}

.article_separator {
	clear: both;
	display: block;
	height: 30px;
	margin: 0;
}

/* pagenav */
#main ul.pagenav {
	list-style-type: none;
	padding: 0;
	overflow: hidden
}

ul.pagenav li {
	display: inline-block;
	padding: 0px;
	margin: 0;
}

#main ul.pagenav li {
	line-height: 2em
}

ul.pagenav li a {
	border: solid 1px #ccc;
	display: inline;
	background: #eee;
	padding: 2px;
	text-decoration: none
}

ul.pagenav li.pagenav-prev {
	float: left
}

ul.pagenav li.pagenav-next {
	float: right
}

/* Small text */
.small,.smalldark,.createdate,.modifydate,.mosimage_caption,.back_button,.pagenavcounter,.pagenav,.pagenavbar
	{
	font-size: 11px;
	color: #858583;
}

/* Heading */
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 220%;
	font-weight: normal;
	margin: 10px 0;
}

h2 {
	font-size: 150%;
	font-weight: normal;
	margin: 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
	font-size: 140%;
	font-weight: normal;
	margin: 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h4 {
	font-size: 120%;
	margin: 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	margin: 1em 0;
	padding: 0;
}

ul {
	padding-top: 10px;
	padding-bottom: 10px;
}

ul li {
	margin-left: 30px;
}

a img {
	border: none;
	background: none;
}

a:hover img {
	border: none;
	background: none;
}

td,div {
	font-size: 1em;
}

select {
	padding: 2px;
	border: solid 1px #909bb1;
}

.contentpaneopen img {
	margin: 0 5px 0 0;
}

fieldset {
	border: solid 0px #ccc
}

.article-info {
	font-size: 11px;
	color: #483604;
}

.article-info dd span {
	color: #444;
	border-right: solid 0px;
	background: #eee
}

.login {
	width: 287px;
}

.login-fields {
	margin: 10px 0;
}

.login .login-fields input {
	width: 200px;
}

.login-fields label {
	width: 80px;
	display: inline-block;
	font-size: 14px;
}

#contentarea,#contentarea2 {
	background: #fff
}

/* ++++++++++++++  readmore  ++++++++++++++ */
.readmore a:link,.readmore a:visited,a.readmore:link,a.readmore:visited
	{
	text-decoration: none;
	font-weight: bold;
}

.readmore a:hover,.readmore a:active,.readmore a:focus,a.readmore a:hover,a.readmore a:active,a.readmore a:focus
	{
	text-decoration: underline;
}

a.readmore:hover,a.readmore:active,a.readmore:focus {
	text-decoration: underline;
}

/* ++++++++++++++  icons  ++++++++++++++ */
.actions img {
	border: 0;
}

ul.actions {
	margin: 0;
	padding: 0;
}

ul.actions li {
	width: 10px;
	float: right;
	list-style: none;
	margin: 0;
	margin-right: 15px;
}

/* ++++++++++++++  pagination  ++++++++++++++ */
#main .pagination {
	border-top: solid 1px #ddd;
}

/* ++++++++++++++  article index  ++++++++++++++ */
table.contenttoc {
	border: solid 1px #ccc;
}

/* ++++++++++++++  Error Message contact form  ++++++++++++++ */
p.error {
	color: #044b63;
	background: #eee;
	border-top: 3px solid #044b63;
	border-bottom: 3px solid #044b63;
}

body.contentpane {
	background: #fff;
}

/* ++++++++++++++  edit  ++++++++++++++ */
form#adminForm {
	border: solid 0px #000
}

.edit form#adminForm fieldset {
	border: solid 1px #ddd
}

.edit form#adminForm  legend {
	font-weight: bold
}
/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip {
	border: solid 1px #FFCC66;
	background: #ffffcc;
	padding: 10px;
}

.tip-wrap {
	max-width: 345px;
}

.tooltip-custom .tip {
	border: solid 10px #82adf1;
	background: #fff;
}

.tooltip-custom .tip p {
	padding: 10px 40px;
	margin: 0;
}

/*-------------------------------*/
table.pagenav,table.pagenav tr,table.pagenav td {
	border: 0 !important
}

.cat-children ul ul,.categories-list ul ul {
	list-style-type: none;
}

.cat-children ul ul ul,.categories-list ul ul ul {
	
}

.categories-list .category-desc ul li {
	list-style-type: square
}

div.pagination {
	padding: 10px 15px 0 0;
	text-align: right;
}

div.pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.pagination ul li {
	margin: 0 0 0 5px;
	display: inline-block;
}

div.pagination ul li a,div.pagination ul li span {
	display: block;
	padding: 1px 10px;
	border: solid 1px #91a7b5;
	background: #FFF;
	font-size: 11px;
}

div.pagination ul li a {
	text-decoration: none;
}

/*****************/
.orange-top-border {
	border-top: solid 4px #1FABBA;
}

.sfs-main-wrapper {
	clear: both;
	overflow: hidden;
}

.sfs-main-wrapper-none {
	clear: both;
	overflow: hidden;
	background: #fff;
}

.sfs-orange-wrapper {
	background-color: #FFF;
	padding: 10px;
}

.sfs-yellow-wrapper {
	background: aliceblue;
	padding: 20px;
}

.sfs-white-wrapper {
	overflow: hidden;
}

ul.menu-command {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
ul.menu-command:after{
	content: ' ';
	display: block;
	clear: both;
}
ul.menu-command li {
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

ul.menu-command li button.button,ul.menu-command li input.button,ul.menu-command li a.button
{
	text-decoration: none !important;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	background-color: #FF8806;
	font-weight: 700;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 10px 20px;
	transition: .4s;
	color: #fff;
	transition: .4s;
	display: block;
}

#search-results .search-star-column{
	width: 190px;
}
#search-results .search-mealplan-column{
	width: 141px;
	background-color: aliceblue;
	padding: 4px;
}
#search-results .result-row-room-title{
	width: 70px;
}
#search-results .search-room-detail span.result-row-room-price{
	width: 50px;
}
#search-results .result-row-room-title{
	width: 100px;
}
ul.menu-command li:hover {
	background-position: left center;
	color: #fff;
}

ul.menu-command li:hover button.button:hover,ul.menu-command li:hover input.button:hover,ul.menu-command li:hover a.button:hover
{
	background-color: #fff;
	color: #FF8806;
}

ul.menu-command li:active {
	background-position: left bottom;
	color: #fff;
}

ul.menu-command li:active button.button:focus,ul.menu-command li:active input.button:focus,ul.menu-command li:active a.button:focus
	{
	background-position: right bottom;
	color: #fff;
}

ul.button-primary-wrap {
	list-style: none;
	padding: 0;
	margin: 10px 0 0;
}

ul.button-primary-wrap li {
	float: left;
	padding: 0;
	margin: 0 20px 0 0;
}

.button-primary {
	text-decoration: none !important;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	background-color: #FF8806;
	font-weight: 700;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 10px 20px;
	transition: .4s;
	box-sizing: border-box;
}

.button-primary span {
	color: #FFFFFF;
	transition: .4s;
}

.button-primary:hover {
	background: #fff;
}

.button-primary:hover span {
	color: #FF8806;
}
/*****/
.sfs-below-main {
	background: #fff;
	border-top: none;
	overflow: hidden;
	padding: 5px 25px 30px 25px !important;
}

.sfs-above-main {
	border-top: none;
	overflow: hidden;
}

.sfs-above-main h3 {
	font-size: 21px;
}

.sfs-above-main h2 {
	font-size: 22px;
}

.bottom-border-radius {
	border-radius: 0px 0px 10px 10px;
}

.s-border-radius {
	border-radius: 10px;
}

div.match .sfs-above-main {
	background: #82adf1 url(../images/match-title.png) 15px 50% no-repeat;
	padding-left: 100px;
}

div#airblock .sfs-above-main {
	background: #82adf1 url(../images/airblock-title.png) 15px 50% no-repeat;
	padding-left: 60px;
}

div.airline-overview .sfs-above-main,div.search-results-title {
	background: #82adf1;
	color: #fff;
	padding-left: 10px;
	/*padding-left: 170px;
	background: #82adf1 url(../images/airpoverview-title.png) 15px 50%
		no-repeat; */
	
}

.sfs-hotel-title {
}

div.match .sfs-below-main {
	padding: 15px 25px 15px 25px;
}

#sfs-wrapper h3 {
	/*font-size: 21px;*/
	font-family: 'Roboto', sans-serif;
}

div.market {
	padding: 25px 20px 20px 20px;
	border: solid 1px aliceblue;
	border-top: solid 5px #1FABBA;
	background-color: aliceblue;
	clear: both;
	overflow: hidden;
}

.width100 {
	width: 100%;
}

.width50 {
	width: 50%;
}

.width33 {
	width: 33%;
}

.float-left {
	float: left;
	overflow: hidden;
}

.float-right {
	float: right;
	overflow: hidden;
}

.float-none {
	clear: none;
	overflow: hidden;
}

.clear {
	clear: both;
}

#background {
	width: 100%;
	float: left;
	background: #e4e9ec;
}

#wrapper {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}
/* Retina display */
@media screen and (min-width: 1024px){
    #wrapper{
        background-image: url('../images/new/retina-header-bg.png');
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    #wrapper{
        background-image: url('../images/new/desktop-header-bg.png');
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 980px){
    #wrapper{
        background-image: url('../images/new/tablet-header-bg.png');
    }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 768px){
    #wrapper{
        background-image: url('../images/new/mobile-hd-header-bg.png');
    }
}

/* Mobile LD */
@media screen and (max-width: 350px){
    #wrapper{
        background-image: url('../images/new/mobile-ld-header-bg.png');
    }
}

#header {
	/*overflow: hidden;*/
	clear: all;
	background: #1f1f1f;
	color: #fff;
	height: 64px;
}

#logo {
	
}

#logo img {
	width: 175px;
	height: auto;
}

#header_right {
	width: 330px;
	float: right;
	padding: 5px;
}

#header_right .padding {
	padding-top: 8px;
	font-weight: bold;
}

#main_menu {
	width: 100%;
	float: left;
}

#main_menu .padding {
	padding-top: 40px;
}

#main_menu ul {
	margin: 0;
	padding: 0;
}

#wrap_container {
	width: 100%;
	float: left;
	margin-top: 50px;
	position: relative;
}

#content {
	width: 100%;
	float: left;
}

#content .padding {
	padding-bottom: 181px;
}

#space {
	width: 100%;
	height: 200px;
	float: left;
}

#bg_footer {
	width: 100%;
	float: left;
	padding: 20px 0 30px 0;
	background: #101010;
	border-bottom: solid 5px #2f2f2f;
}

#wrap_footer {
	width: 980px;
	margin: auto;
}

#bottom_menu {
	width: 100%;
	float: left;
}

#bottom_menu .padding {
	font-weight: normal;
	color: #fff;
}

#bottom_menu table tr td {
	text-align: left;
}

#footer {
	width: 100%;
	float: left;
}

#footer .padding {
	font-weight: normal;
	color: #fff;
}

#chat-online .padding {
	padding: 10px 0 0 0;
}


ul.menu-mainmenu ul {
	display: none;
}

ul.menu-mainmenu {
	margin: 0;
	padding: 0;
	background: none;
	position: relative;
	transition: .4s;
}

ul.menu-mainmenu li {
	margin: 0;
	background: none;
	display: block;
	clear: both;
	padding: 14px 0px 14px 7px;
	border-top: 1px solid #ccc;
    margin-top: -1px;
	transition: .4s;
}

ul.menu-mainmenu li a,ul.menu-mainmenu li button.button {
	font-family: 'Roboto Condensed', sans-serif;
	overflow: hidden;
	outline: none;
	background: none;
	white-space: nowrap;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding: 0;
	transition: .4s;
}

ul.menu-mainmenu li button.button {
	border: none;
}

ul.menu-mainmenu a:hover,ul.menu-mainmenu li a:active,ul.menu-mainmenu li a:focus
	{
	text-decoration: none;
}

ul.menu-mainmenu li button.button:hover,ul.menu-mainmenu li button.button:active,ul.menu-mainmenu li button.button:focus
{
	
}

ul.menu-mainmenu li.active > a,
ul.menu-mainmenu li.current > a {
	color: #009fb2;
}
ul.menu-mainmenu li:hover > a,
ul.menu-mainmenu li:hover > form button{
	color: #009fb2;
}

ul.menu-mainmenu>li>a,ul.menu-mainmenu>li>form>button {
	text-transform: uppercase;
	font-weight: bold;
}

ul.menu-mainmenu > li:after{
	content: "\f104";
	font: normal normal normal 14px/1 FontAwesome;
	display: block;
	position: absolute;
	top: 12px;
	right: 5px;
	font-size: 22px;
	transform: rotate(0deg);
	transition: .4s;
}
ul.menu-mainmenu > li:hover:after,
ul.menu-mainmenu > li.active:after{
	content: "\f105";
	transform: rotate(-360deg);
	color: #009fb2;
}
/****level2****/
ul.menu-mainmenu li:hover ul li span,
ul.menu-mainmenu li.selected ul li span
{
	display: none;
	background: none;
}

ul.menu-mainmenu li:hover ul li a,
ul.menu-mainmenu li.selected ul li a {
	background: none;
}

ul.menu-mainmenu > li{
	position: relative;
}
ul.menu-mainmenu > li > ul {
	position: absolute;
	min-width: 200px;
	top: -1000px;
	background: #1f1f1f;
	z-index: 999;
	text-transform: none;
	border-radius: 5px;
	padding: 10px 0 !important;
	transition: .4s;
	left: 100%;
	opacity: 0;
	display: block;
}
ul.menu-mainmenu li ul li{
	border: none;
	padding: 3px 14px;
}
ul.menu-mainmenu li ul li span {
	background: none;
}

ul.menu-mainmenu li ul li a {
	text-transform: none;
	display: block;
	color: #fff;
	font-size: 14px;	
}

ul.menu-mainmenu li ul li a:hover {
	text-transform: none;
	text-decoration: underline;
}

ul.menu-mainmenu li:hover ul,
ul.menu-mainmenu li.clicked ul {
	opacity: 1;
	top: 0;
}

ul.menu-mainmenu li ul li {
}

.roomloading-rate {
	padding-top: 15px;
	line-height: 18px;
}

.roomloading-room {
	padding-top: 8px;
	line-height: 18px;
}

input.calendar{
	background-image: url(../images/new/calendarico.png);
	background-position: 85px 50%;
	border: 1px solid #ccc;
	width: 115px !important;
}

.blockoverview .detailsearch .small-button{
	display: inline-block !Important;
	width: 100px;
}

#sfs-wrapper select,
.blockoverview .detailsearch .blockcode input, .blockoverview .detailsearch .status select{
	border: 1px solid #ccc;
}

.leading-0 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  font-weight: 300;
  color: #ffffff;
  margin: 3px 0 1px 0;
  display: block;
  padding: 50px 0;
  padding-bottom: 50px !Important;
}
#sbox-window{
	box-sizing: content-box;
}

.rooms .infocol{
	margin: 0;
	margin-bottom: 25px;
	width: 50%;
}

.rooms .detail{
	float: left;
	margin-left: 88px;
}

.main-taxvouchers .dateon,
.main-taxvouchers .dateto,
.main-taxvouchers .blockcode{
	margin-right: 1px;
}
.main-taxvouchers .buttons{
	margin-top: 20px;
}

.main.report-airline .frm-left{
	float: left;
}

.main.report-airline .frm-right{
	float: right;
}
.main.report-airline .airline-report{
	border-top: 1px solid #ddd;
	clear: both;
	margin-top: 20px;
}

.main.airlineprofile-contacts .contact-block{
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#airline-registration{
	margin-top: 0;
	padding-top: 10px;
}

.main#sfs-wrapper input.smaller-size{
	width: 48px !important;
	font-size: 18px;
	text-align: center;
}

/*@Tran Thanh Hoa Style*/
/*============= BEGIN Taxi profile ==============*/
.taxi-rate-table-left th{
    text-indent: 0;
    text-align: right;
}
.taxi-rate-table-left td{
    padding: 5px 0;
    text-align: right;
}
.taxi-rate-table-left .first-column{
    text-align: left;
}
.taxi-rate-table-left span{
    display: inline-block;
    width: 35px;
}
.taxi-rate-table-left .ring-hotel{
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    padding: 5px;
    margin-bottom: 10px;
    background: #F0F0F0;
    border-left: 2px solid #BEBEBE;
}
.taxi-rate-table-left .inputbox{
    width: 80px !important;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.sfs-yellow-wrapper{
    margin-bottom: 20px;
}

/*============= END Taxi profile ==============*/

/*============= BEGIN Overview Hotels ==============*/
#tooltip_overview_room_type{
    float: right;
    margin-right: 30px;
}
#tooltip_overview_room_type span{
    display: inline-block;
    width: 45px;
    text-align: center;

}
.contrast-foot{
    overflow: hidden;
}
.contrast-foot .m-t-col{
    float: left;
}
/*============= END Overview Hotels ==============*/
/*============= BEGIN Airblock Custom ==============*/


div.flightcommentarea{
	width:450px;
}

div.passengers{
    padding: 0;
    margin: 20px 0;
    border: 1px solid #DDD;
}
div.passengers .p-title{
    padding: 5px 0;
    margin: 0;
}
div.passengers .passenger{
    padding: 3px 0;
    color: #555;
    border-bottom: 1px solid #ddd;
}

table.blocked-rooms{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
table.blocked-rooms th{
    padding: 3px 5px !important;
    border: none !important;
}
table.blocked-rooms td{
    border: 1px solid #ddd;
    padding: 5px !important;
}
.sfs-white-wrapper{
    padding-top: 20px;
}
/*============= END Airblock Custom ==============*/
/*============= BEGIN Search Hotel Custom ==============*/
.mealplan666{
    padding: 0;
}
#search-results div.search-result-row{
    padding: 0;
}
#search-results .result-row-room-price{
    font-size: 14px !important;
}
#search-results .result-row-room-total{
    font-size: 14px !important;
}
#search-results .float-right{
    width: 260px;
}
#search-results  .bookingbutton{
    bottom: 10px !important;
    right: 0 !important;
}
#search-results .search-results-header{
    padding: 10px;
}
#search-results .search-results-header div{
    float: left;
    padding: 0 10px;
}
#search-results .search-room-detail{
    width: auto;
    float: right !important;
}
#search-results span.hotel-name{
	font-size: 18px;
}
#search-results .float-left{
    font-size: 14px;
}
#search-results .float-right td{
    font-size: 14px;
}
#search-results .search-result-row{
    padding-bottom: 10px !important;
    border-bottom: 2px solid #ddd;
}
/*============= END Search Hotel Custom ==============*/
div.roomloading-left{
	width: 110px;
}
div.roomloading-middle{
	width: 500px;
}
div.roomloading-right{
	width: 100px;
}

#hotel-registraion.registration div.fs-16.fbold, #hotel-registraion h2{
	color: #1f1f1f !important;
	padding-bottom: 0 !important;
	padding-left: 0;
}

.voucher-match-table{
	padding: 15px 0;
}

#main_menu .dropdown-active:after{
	transform: rotate(180deg);
}